.button {
  background-color: #333;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22.5px;
  cursor: pointer;
}

.zero {
  /* grid-column-start: 2; */
  grid-column: 1 / span 2;
  width: 125px;
}

.zeroo {
  width: 107.5px;
  border-radius: 28.75px;
  position: relative;
  justify-content: flex-start;
  padding-left: 21px;
}

.button.function {
  color: black;
  background-color: #a5a5a5;
}

.button.operator {
  background-color: #f1a33c;
}
